
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@600&family=Roboto:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@600&family=Roboto:ital,wght@1,700&family=Work+Sans:wght@700&display=swap');


html{
    background-color: #292B2E;
    font-size: 20px;
    --color-white: white;
    --color-orange: #FFB742;
}
.top{
    display: flex;
}
.top_nav{
    display: flex;
    list-style: none;
    width: 54%;
    justify-content: space-evenly;
    margin: 22px auto;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: aliceblue;
    font-family: 'Poppins';
}
.top_nav-item:hover{
    color: #FFB742;;
}
.top_avatar{
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    margin-top: 2rem;
    font-family: 'Inter';
}
.bansal:hover{
    color: #FFB742;
    text-decoration: underline;
}
.avatar-two{
    font-size: 48px;
    font-weight: 700;
}
.avatar-three{
    font-size: 24px;
}
.avatar-fore{
    margin-bottom: 10px;
}



.cards{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.card{
    width: 32%;
    background-color: #292B2E;
    color: var(--color-white);
    display: flex;
    /* height: 120px; */
    justify-content: space-evenly;
    align-items: center;
    padding:  3rem 0 ;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border-radius: 16px;
    cursor: pointer;
    text-align: center;
    transition: all 1500ms;
}
.card:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);;    
}
.card:hover .card_first, .card:hover .card_secend{
    color: #292B2E;
}
.card_first{
    font-size: 3.2rem;
    color: var(--color-orange);
}
.card_secend{
    font-size: 1.6rem;
    color: var(--color-white);
}
.about{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 7rem auto;
    overflow: hidden;
}
 .screenshot{
    display: flex;
 }
.my_skills{
    height: 300px;
    display: flex;
    color: #FFFFFF;
    width: 97%;
    margin: 0 auto;
    margin-bottom: 5rem;
    justify-content: center;
}
.my_skill{
    background-color:#292B2E;
    width: 50%;
}
.skills_included{
    font-size: 48px;
    font-weight: 700;
    font-family: 'Roboto';
}
.icons{
    width: 8%;
    display: flex;
    height: 200px;
    flex-wrap: wrap; 
    justify-content:space-evenly;
    align-items: center;
}
.icons2{
    width: 8%;
    display: flex;
    height: 200px;
    flex-wrap: wrap; 
}
.icons3{
    width: 8%;
    display: flex;
    height: 200px;
    flex-wrap: wrap; 
}
.icons4{
    width: 8%;
    display: flex;
    height: 200px;
    flex-wrap: wrap; 
}
.icons5{
    width: 8%;
    display: flex;
    height: 200px;
    flex-wrap: wrap; 
}
.icons6{
    width: 8%;
    display: flex;
    height: 200px;
    flex-wrap: wrap; 
}
.icon{
    display: flex;
    background-color: #7B7B7B;
    width: 65%;
    height: 80px;
    border-radius: 10px;
    padding:4% 8%;
    /* align-items:center; */
    margin: 8% auto;
    text-align: center;
}
.icon:hover{
    background-color: #FFB74280;
}
.hire{
    display: flex;
    margin-bottom: 5rem;
}
.works{
    color: #FFB742;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    font-family: 'Poppins';
}
.feature{
    color: #ffffff;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    font-family: 'Roboto';
}
.under{
    display: flex;
    justify-content: space-between;
    width: 50%;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
    margin: 0 auto;
    list-style: none;
}
.under_one:hover{
    color: #FFB742;
}
.pictures{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 5rem auto;
}
.test{
    text-align: center;
    margin-top: 2rem; 
}
.what{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 39.2896px;
    text-transform: capitalize;
    margin-bottom: 5rem;
}
.window{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto;
}
.back{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 5rem auto;
    color: #FFFFFF;
    font-size: 21.59px;
    font-weight: 700;
    font-family: 'Work Sans';
}
.back_one:hover{
    color: #FFB742;
    font-size: 32px;
    transition: all 900ms;
}
.back_one1{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Work Sans';
    color: #7B7B7B;
}
.back_one1:hover{
    color: #D4D4D4;
}
.under_back21{
    list-style: none;
    font-weight: 500;
    color: #7B7B7B;
    font-size: 17.99px;
}
.under_back212:hover{
    color: #D4D4D4;
    transition: all 500ms;
}
.under_back3{
    list-style: none;
    font-weight: 500;
    color: #7B7B7B;
    font-size: 17.99px;
}
.under_back31:hover{
    color: #D4D4D4;
}
.back_one4{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Work Sans';
    color: #7B7B7B;
}
.back_one4:hover{
    color: #D4D4D4;
}












































