@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

html{
	background-color: #175d68;
	font-family: 'Space Grotesk';
	min-width: 900px;
	max-width: 1200px;
}
.main{
	display: flex;
	width: 80%;
	height: 700px;
	background-color: rgb(254, 255, 240);
	margin: 0 auto;
	margin-top: 4rem;
}
.main1{
	width: 55%;
}
.kreativ{
	color: #496F74;
	font-size: 24px;
	font-weight: 700;
	margin-left: 2rem;
}
.let{
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	margin-top: 5rem;
}
.forms{
	width: 80%;
	margin-left: 6rem;
}
.imput_one{
	width: 300px;
}
.option{
	color: #A8A8A8;
	font-size: 12px;
	font-weight: 400;
}
.passwords{
	font-size: 10px;
	font-weight: 400;
	color: #A8A8A8;
}
.main2{
	width: 45%;
	background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
	color: #FFFFFF;
	box-shadow: 0px 0px 10px 9px #4E7577;;
}
.home{
	text-align: end;
	margin-right: 1rem;
}
.text{
	color: #FFFFFF;
	font-size: 48px;
	font-weight: 700;
	text-align: center;
	margin-top: 11rem;
}
.albert{
	display: flex;	
	width: 55%;
	font-size: 16px;
	font-weight: 700;
	margin: 0 auto;
}
.sign{
	width: 70%;
	height: 2rem;
	margin: 0 auto;
	text-align: center;
	margin-top: 9rem;
}
.user_two{	
	color:#476D73 ;
	text-decoration: underline;
	padding-left: 1rem;
}
.user{
	display: flex;
	color: #C4C4C4;
	font-size: 16px;
	font-weight: 700;
	margin: 1rem auto;
	width: 80%;
	justify-content: center;
}
