
.first{
    width: 1400px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.header{
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    margin: 0 auto;
}
.header-blue {
    color: #3E45E8;
}
.header-yellow{
    color: #E8C23E;
}

.header1{
    font-size: 35px;
    text-align: left; 
    width: 610px;
    margin-left: 5%;
}
.flag{
    margin-left: -4%;
}
.content > div{
    width: 320px;
    height: 350px;
    border: 1px solid black;
    border-radius: 10%;
    display: inline-block;
    /* box-shadow: 3px 9px 6px rgb(133, 199, 209) ; */
    margin: 70px;
}
.one{
    box-shadow: -9px 15px 22px rgb(133, 199, 209);
}
.three{
    box-shadow: 9px 15px 22px rgb(133 199 209);
}
.two{
    box-shadow: 0px 15px 22px rgb(133 199 209);
}
.header2{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: blue;
}
.karta_ukraine{  
    background-image: url(../picture/7e\ edukation.png);  
    background-repeat: no-repeat;
    width: 70%;
    height: 622px;
    margin: 0 auto;
}
.button{
    background-color: #2A61F0;
    border-radius: 50px;
    width: 500px;
    height: 100px;
    position: relative;
    margin: 27px auto;
    text-align: center;
    color: #f0e4e4;
    font-size: 90px;
    padding-top: -.2rem;
}
.centerid{
    position: absolute;
    top: 5%;
    left: 34%;
    font-size:64px ;
}
.container2{
    background: linear-gradient(0deg,#013235,#0D0661 );
    position: relative;
    width: 100% ;
    height: 233px;
    color: white;
}
.info1{
    position: absolute;
    top: 32%;
    left:  36%;
    font-size: 36px;
    font-weight: 400;
}
.info2{
    position: absolute;
    top: 0%;
    left: 33%;
    font-size: 70px;
   }
.info3{
    position: absolute;
    top: 50%;
    left: 40%;
   
    font-size: 36px;
    font-weight: 400;
}
.info4{
   position: absolute;
   top: 75%;
   left: 43%;
}
.info5{ position: absolute;
    top: 75%;
    left: 51%;
}
.info6{
    position: absolute;
    top:75% ;
    left: 47%;
}
