body{
    font-family:sans-serif ;
}
.header{
    background-color: #243B93;
    height: 65px;
    position: relative;
  }
 .header_top{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #f5f5f5;
    margin: 0 auto;
    padding-top: 1%;
 } 
 .logo{
    position: absolute;
    top: .5rem ;
    left: 10rem ;
 }
 .globys{
    position: absolute;
    top: .5rem;
    right: 14rem;
 }
 .ua{
    position: absolute;
    top: 1.5rem;
    right: 11rem;
 }
.header1{
    background-color: #BFF0FF;
    height: 85px;
    font-size: 57px;
    padding-left: 10%;
}
.box{
    background-color: #f5f5f5;
    width: 80%;
    height: 57px;
    margin: 35px auto;
    text-align: center;
    font-size: 36px;
    position: relative;
}
.strilka{
    position: absolute;
    right: 2%;
    top: 19%;
}
.box1{
    width: 80%;
    margin: 0 auto;
}
.card{
    background-color:#A9CBD6 ;
    margin-bottom: 3rem;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
}
.card > .img{
    background-color: white;
    width: 37%;
    height: 91%;
}
.img > img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card > .content{
    background-color: white;
    width: 57%;
    height: 77%;
    font-size: 22px;
    box-sizing: border-box;
    margin-top: 3%;
    margin-right: 3rem;
}
.card > .zirka{
    position: absolute;
    top: auto;
    right: 11%;
}
body:hover{
    background-color: pink;
}
.card:hover{
    background-color:#2CBDEB;
    box-shadow: 10px 15px 65px -10px #2CBDEB;
}
.zirka:hover path {
    fill: yellow;
}
.knopka > :hover{
    background-color:#EF075B ;
}

.text1{    
    position: absolute;
    font-size: 47px;
    font-weight: 700;
    top: 25%;
    right: 16rem;
    border-bottom-color: white;
    border-bottom-width: 3px;
    border-bottom-style: solid ;
    width: 43%;
    margin: 0 auto;
}
.text2{    
    position: absolute;
    font-size: 47px;
    font-weight: 700;
    top: 54%;
    right: 16rem;
    border-bottom-color: white;
    border-bottom-width: 3px;
    border-bottom-style: solid ;
    width: 43%;
    margin: 0 auto;
}
.text3{    
    position: absolute;
    font-size: 47px;
    font-weight: 700;
    top: 83%;
    right: 16rem;
    border-bottom-color: white;
    border-bottom-width: 3px;
    border-bottom-style: solid ;
    width: 43%;
    margin: 0 auto;
}
.text4{    
    position: absolute;
    font-size: 47px;
    font-weight: 700;
    top: 112%;
    right: 16rem;
    border-bottom-color: white;
    border-bottom-width: 3px;
    border-bottom-style: solid ;
    width: 43%;
    margin: 0 auto;
}
.knopka1{
    position: absolute;
    background-color: #243B93 ;
    width: 210px;
    height: 46px;
    border-radius: 30px;
    text-align: center;
    color: #f5f5f5;
    font-size: 24px;
    top: 45%;
    right: 8%;
}
.knopka2{
    position: absolute;
    background-color: #243B93 ;
    width: 210px;
    height: 46px;
    border-radius: 30px;
    text-align: center;
    color: #f5f5f5;
    font-size: 24px;
    top: 74%;
    right: 8%;
}
.knopka3{
    position: absolute;
    background-color: #243B93 ;
    width: 210px;
    height: 46px;
    border-radius: 30px;
    text-align: center;
    color: #f5f5f5;
    font-size: 24px;
    top: 103%;
    right: 8%;
}
.knopka4{
    position: absolute;
    background-color: #243B93 ;
    width: 210px;
    height: 46px;
    border-radius: 30px;
    text-align: center;
    color: #f5f5f5;
    font-size: 24px;
    top: 132%;
    right: 8%;
}
.strilka1{
    position: absolute;
    top: 93rem;
    right: 12rem;
    font-style: color black;
}
.kabinet{
    background: linear-gradient(0deg,#FFE601, #55D6FF);
    height: 85px;
    font-size: 57px;
    padding-left: 10%;
}
.menu{
    text-decoration-line: underline;
    list-style-type: none;
    position: absolute;
    font-size: 36px;
    color: black;
    top: 112rem;
    right: 4rem;
    width: 50%;
}
.kabinet_danni{
    background:linear-gradient(0deg, #859EFF, #69FFD280);
    width: 80%;
    height: 498px;
    margin: 49px auto;
    position: relative;
}
.iconka{
    position: absolute;
    top: 8%;
    left: 12%;
}
.fon1{
    position: relative;
    top: 77%;
    left: 10%;
}
.fon1_button{
    position: relative;
    top: -6rem;
    left: 3rem;
    font-size: 24px;
    color: #f5f5f5;
    z-index: 2;
}
.fon2{
    position: relative;
    top: 49%;
    left: 10%;
}
.fon2_button{
    position: relative;
    color: #f5f5f5;
    font-size: 24px;
    top: 1rem;
    left: 3rem;
}
.botton{
    background-color:#243B93 ;
    width: 174px;
    height: 50px;
    border-radius: 30px;
    margin: -25px auto;
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top: 1%;
}
.kontaktu{
    background: linear-gradient(0deg,#54D6FF,#FFE600 );
    width: 100%;
    height: 85px;
    margin: 69px auto;
    font-size: 44px;
    padding-left: 10%;
    padding-top: 1%;
}
.map{
    position: relative;
    width: 80%;
    height: 350px;
    margin: 0 auto;
}
.map1{
    position: absolute;
    right: 1rem;
}
.adress{
    position: absolute;
    font-size: 25px;
    font-weight: 700;
}
.adress1{
    text-decoration: underline;  
}
.adress3{
    text-decoration: underline;    
    position: absolute;
    top: 8rem;
    left: 0rem;
}
.adress4{
    position: absolute;
    top: 11rem;
    left: 0rem;
}
.adress5{
    text-decoration-line: underline;
    position: absolute;
    top: 1rem;
    left: 31rem;
}
.adress6{
    position: absolute;
    top: 5rem;
    left: 31rem;
}
.backfon{
    background-color: #243B93;
    height: 65px;
    color: #f5f5f5;
    font-size: 25px;
    padding-left: 10%;
    padding-top: 2%;
}
