.conteiner{
    width: 1500px;
    height: 2222px;
}
.backgraund_main_conteiner{
    background-image: url(./Picture/надпис.png),
     url(./Picture/фон.png);
    background-size: 965px 206px, 1500px 700px; 
    width: 1500px;
    height: 700px;
    background-repeat: no-repeat;
    background-position: 259px 198px, 50px 50px;
}
.H1{
    font-size: 48px;
    margin-left: 110px;
    margin-top: 20px;
}
.card > div{
    width: 400px;
    height: 460px;
    border: 1px solid black;
    background-color: black;
    display: inline-block;
    margin: 16px;
    margin-left: 122px ;
    margin-right: -76px;
}
.one{
    background-image: url(./Picture/фото\ галереї.png),
    url(./Picture/галерея.png);
    width: 300px;
    height: 210px;
    background-repeat: no-repeat;
    background-position: 55px  75%, 111px 50px ;
}
.two{
    background-image: url(./Picture/фото\ спорту.png),
     url(./Picture/спорт.png);
     background-repeat: no-repeat;
     width: 300px;
     height: 210px;
     background-position: 55px 75%, 120px 27px;
}
.three{
    background-image: url(./Picture/фото\ інше.png), 
    url(./Picture/більше.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 210px;
    background-position: 55px 75%, 120px 27px;
}
.venice{
    background-image: url(./Picture/фото.png);
    width: 1371px;
    height: 595px;
    margin-left: 95px;
}
.down{
    width: 1500px;
    height: 279px;
    background-color: black;
    margin-top: 15px;
    position: relative;
    margin-left: 35px;
}
.down > div{
    font-size: 27px;
}
.entertaiment{
    position: absolute;
    top: 15%;
    left: 21%;
}
.restoran{
    position: absolute;
    top: 38%;
    left: 21%;
    
}
.contakt{
    position: absolute;
    top: 50%;
    left: 46%;
}
.shop{
    position: absolute;
    top: 15%;
    left: 69%;
}
.art{
    position: absolute;
    top: 38%;
    left: 69%;
}
.line{
    position: absolute;
    top: 60%;
    left: 40%;
}
.youtube{
    position: absolute;
    top: 75%;
    left: 42%;
}
.instagramm{
    position: absolute;
    top: 75%;
    left: 49%;
}
.facebook{
    position: absolute;
    top: 75%;
    left: 55%;
}